<nav class="fr-top-navigation js-top-navigation" aria-label="Wichtige Seitenfunktionen">
    <div class="container">
        <div class="fr-top-navigation__inside">
            <ul class="fr-top-navigation__box-left">
                <li class="fr-top-navigation__item">
                    <a href="#" class="fr-top-navigation__link">
                        <svg><use href="/images/sprites/topnav.svg#sign-language" xlink:href="/images/sprites/topnav.svg#sign-language"></use></svg><span>Gebärdensprache</span>
                    </a>
                </li>
                <li class="fr-top-navigation__item">
                    <a href="#" class="fr-top-navigation__link">
                        <svg><use href="/images/sprites/topnav.svg#easy-language" xlink:href="/images/sprites/topnav.svg#easy-language"></use></svg><span>Leichte Sprache</span>
                    </a>
                </li>
                <li class="fr-top-navigation__item">
                    <a href="#" class="fr-top-navigation__link fr-top-navigation__link--language">
                        <svg><use href="/images/sprites/topnav.svg#language" xlink:href="/images/sprites/topnav.svg#language"></use></svg><span class="fr-top-navigation__link-label--long">Englisch</span><span class="fr-top-navigation__link-label--short">EN</span>
                    </a>
                </li>
            </ul>
            <ul class="fr-top-navigation__box-right">
                <li class="fr-top-navigation__item">
                    <a href="#" class="js-search-layer-toggle fr-top-navigation__link fr-top-navigation__link--search">
                        <svg><use href="/images/sprites/topnav.svg#magnifier" xlink:href="/images/sprites/topnav.svg#magnifier"></use></svg><span>Suche</span>
                    </a>
                </li><li class="fr-top-navigation__item">
                    <a href="#" class="fr-top-navigation__link fr-top-navigation__link--user">
                        <svg><use href="/images/sprites/topnav.svg#user" xlink:href="/images/sprites/topnav.svg#user"></use></svg><span>Anmelden | Registrieren</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>