.c-link-block {
    margin-bottom: $paragraph-spacer-bottom;
}

.c-link-block__link-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.c-link-block__link {
    //color: red;

    &:before {
        color: inherit;
    }
}

.c-link-block__link--intern {
    &:before {
        content: '[intern] ';
    }
}

.c-link-block__link--download {
    &:before {
        content: '[download] ';
    }
}
