<figure class="c-content-container__image--portrait">
    <a href="/images/content/content-portrait.jpg" data-toggle="lightbox" data-title="Headline" data-footer="caption">
        <img src="/images/content/content-portrait.jpg" data-copyright="{{ imageCopyright }}">
    </a>
    <figcaption>
        {{ imageCaption }}
    </figcaption>
</figure>