<figure>
    <a href="/images/content/content-landscape.jpg" data-toggle="lightbox" data-title="Headline" data-footer="caption">
        <img src="/images/content/content-landscape.jpg" data-copyright="{{ imageCopyright }}">
    </a>
    <figcaption>
        {{ imageCaption }}
    </figcaption>
</figure>
