<div class="c-headline-icon c-headline-icon--with-link c-headline-icon--icon1">
    {{> atoms-headline-icon-icon1 }}
    <div class="c-headline-icon__container">
        {{> atoms-headline-icon-label }}
        {{> atoms-headline-icon-link }}
    </div>
</div>