<div class="container">
    <div class="row">
        <div class="col-md-8">

            {{> atoms-headline-main }}
            {{> organisms-content-container }}

            {{> molecules-quote }}

            {{> organisms-special-container }}
            {{> organisms-special-container-keycolor1 }}

            {{> molecules-headline-icon }}

            {{> organisms-link-block-intern }}

            {{> molecules-headline-icon-with-link }}
            {{> organisms-link-block-download }}

        </div>
        <div class="col-md-4">
            Right column
        </div>
    </div>
</div>