<header class="fr-header-content">
    {{> organisms-top-navigation }}
    {{> organisms-search-layer }}
    {{> organisms-main-navigation }}
    {{> organisms-breadcrumb-navigation }}
</header>

<div class="fr-main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <main class="fr-main-column">

                    {{> organisms-content-intro }}
                    {{> organisms-anchor-links }}
                    {{> organisms-content-container }}

                    {{> molecules-quote }}
                    {{> organisms-content-container--only-text }}
                    {{> atoms-accentuation }}
                    {{> organisms-content-container--only-text }}

                    {{> organisms-accentuation-box }}
                    {{> organisms-accentuation-box-keycolor1 }}
                    {{> organisms-accentuation-box-keycolor2 }}

                    {{> molecules-headline-icon }}

                    {{> organisms-link-block-intern }}

                    {{> molecules-headline-icon-with-link }}
                    {{> organisms-link-block-download }}
                </main>
            </div>
            <div class="col-lg-4">
                <aside class="fr-rc-column">
                    {{> organisms-page-navigation }}
                </aside>
            </div>
        </div>
    </div>
</div>