<div class="fr-header-search-layer js-header-search-layer">
    <div class="container">
        <div class="fr-header-search-layer__inside">
            <a href="#" class="fr-header-search-layer__close js-header-search-layer-close" title="Suchlayer schließen">
                <svg><use href="/images/sprites/misc.svg#close" xlink:href="/images/sprites/misc.svg#close"></use></svg>
            </a>
            <div class="row">
                <div class="col-md-6 order-md-7">
                    <div class="fr-header-search-layer__search">
                        <form>
                            <label class="fr-header-search-layer__search-label">Freitextsuche</label>
                            <input class="fr-header-search-layer__search-input" type="text">
                            <div class="c-form-row c-form-row--align-right">
                                <button class="fr-header-search-layer__search-button">Suchen</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-6 order-md-1">
                    <div class="fr-header-search-layer__quick-access-container">
                        <p class="fr-header-search-layer__quick-access-headline">Schlagworte A-Z. Bitte wählen Sie einen
                            Anfangsbuchstaben:</p>
                        <ul class="fr-header-search-layer__quick-access-az">
                            <li class="fr-header-search-layer__quick-access-az-item">
                                <a href="#" tabIndex="-1" class="fr-header-search-layer__quick-access-az-link">A</a>
                            </li>
                            <li class="fr-header-search-layer__quick-access-az-item">
                                <a href="#" tabIndex="-1" class="fr-header-search-layer__quick-access-az-link">B</a>
                            </li>
                            <li class="fr-header-search-layer__quick-access-az-item">
                                <a href="#" tabIndex="-1" class="fr-header-search-layer__quick-access-az-link">C</a>
                            </li>
                            <li class="fr-header-search-layer__quick-access-az-item">
                                <a href="#" tabIndex="-1" class="fr-header-search-layer__quick-access-az-link">D</a>
                            </li>
                            <li class="fr-header-search-layer__quick-access-az-item">
                                <a href="#" tabIndex="-1" class="fr-header-search-layer__quick-access-az-link">E</a>
                            </li>
                            <li class="fr-header-search-layer__quick-access-az-item">
                                <a href="#" tabIndex="-1" class="fr-header-search-layer__quick-access-az-link">F</a>
                            </li>
                            <li class="fr-header-search-layer__quick-access-az-item">
                                <a href="#" tabIndex="-1" class="fr-header-search-layer__quick-access-az-link">G</a>
                            </li>
                            <li class="fr-header-search-layer__quick-access-az-item">
                                <a href="#" tabIndex="-1" class="fr-header-search-layer__quick-access-az-link">H</a>
                            </li>
                            <li class="fr-header-search-layer__quick-access-az-item">
                                <a href="#" tabIndex="-1" class="fr-header-search-layer__quick-access-az-link">I</a>
                            </li>
                            <li class="fr-header-search-layer__quick-access-az-item">
                                <a href="#" tabIndex="-1" class="fr-header-search-layer__quick-access-az-link">J</a>
                            </li>
                            <li class="fr-header-search-layer__quick-access-az-item">
                                <a href="#" tabIndex="-1" class="fr-header-search-layer__quick-access-az-link">K</a>
                            </li>
                            <li class="fr-header-search-layer__quick-access-az-item">
                                <a href="#" tabIndex="-1" class="fr-header-search-layer__quick-access-az-link">L</a>
                            </li>
                            <li class="fr-header-search-layer__quick-access-az-item">
                                <a href="#" tabIndex="-1" class="fr-header-search-layer__quick-access-az-link">M</a>
                            </li>
                            <li class="fr-header-search-layer__quick-access-az-item">
                                <a href="#" tabIndex="-1" class="fr-header-search-layer__quick-access-az-link">N</a>
                            </li>
                            <li class="fr-header-search-layer__quick-access-az-item">
                                <a href="#" tabIndex="-1" class="fr-header-search-layer__quick-access-az-link">O</a>
                            </li>
                            <li class="fr-header-search-layer__quick-access-az-item">
                                <a href="#" tabIndex="-1" class="fr-header-search-layer__quick-access-az-link">P</a>
                            </li>
                            <li class="fr-header-search-layer__quick-access-az-item">
                                <a href="#" tabIndex="-1" class="fr-header-search-layer__quick-access-az-link">Q</a>
                            </li>
                            <li class="fr-header-search-layer__quick-access-az-item">
                                <a href="#" tabIndex="-1" class="fr-header-search-layer__quick-access-az-link">R</a>
                            </li>
                            <li class="fr-header-search-layer__quick-access-az-item">
                                <a href="#" tabIndex="-1" class="fr-header-search-layer__quick-access-az-link">S</a>
                            </li>
                            <li class="fr-header-search-layer__quick-access-az-item">
                                <a href="#" tabIndex="-1" class="fr-header-search-layer__quick-access-az-link">T</a>
                            </li>
                            <li class="fr-header-search-layer__quick-access-az-item">
                                <a href="#" tabIndex="-1" class="fr-header-search-layer__quick-access-az-link">U</a>
                            </li>
                            <li class="fr-header-search-layer__quick-access-az-item">
                                <a href="#" tabIndex="-1" class="fr-header-search-layer__quick-access-az-link">V</a>
                            </li>
                            <li class="fr-header-search-layer__quick-access-az-item">
                                <a href="#" tabIndex="-1" class="fr-header-search-layer__quick-access-az-link">W</a>
                            </li>
                            <li class="fr-header-search-layer__quick-access-az-item">
                                <a href="#" tabIndex="-1" class="fr-header-search-layer__quick-access-az-link">XYZ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>